body::before {
  display: block;
  content: '';
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-1{
  padding-top: 100px;
}

.container-2{
  padding-top: 100px;
}

.doggy{
  width: 22rem;
  transform: rotate(25deg) translateY(4rem);
}

.info{
  width: 30rem; 
  margin-bottom: 15rem;
}

.sec{
  background-color: 	#708090; 
  height: 36rem;
}

@media (max-width: 992px){
  .doggy{
    transform: initial;
    width: 20rem;
  }

  .info{
    margin-bottom: 2rem;
  }

  .sec{
    height: 62rem;
  }
}

